.info-cast-box {
    width: 288px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    &__actor-photo {
        width: 56px;
        border-radius: 50%;
    }
    &__info-about-actor {
        width: 220px;
        height: 44px;
    }
    &__actors-name {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #262626;
    }
    &__actors-role {
        color: #808080;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 15px;
        padding: 3px 0px;
    }
}