.FilmsList {
    background: red;
    height: 1100px;
    width: 88%;
    margin: 20px 10px 10px 100px;
    display: flex;
    flex-wrap: wrap;
    .FlexBox {
        background: pink;
        width: 30%;
        height: 45%;
        margin: 20px;
    }
}