.NavDiv {
    width: 100%;
    height: 130px;
    background: blue;
    .NavTop {
    width: 100%;
    height: 56px;
    background: #1A1A1A;
        .NameLabel {
            color: white;
            font-family: "Rubik", sans-serif;
            font-size: 20px;
            float: left;
            margin-left: 15%;
            margin-top: 15px;
            text-decoration: none;
        }
    }
}
