.nav-div__header {
    width: 100%;
    height: 56px;
    background: #1A1A1A;
    .NameLabel {
            color: white;
            font-family: "Rubik", sans-serif;
            font-size: 20px;
            text-decoration: none;
    }
}
.nav-div__navtop__pages {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
